Package: com.gomes.spaceloader
Name: SpaceLoader Bypass
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Injetor invisível de dylibs externas para Vice Online.
Maintainer: @eoo_gomes3
Author: Gomes
Version: 1.0.0
