Package: com.sys.internal.support
Name: SystemInternalProvider
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: System internal support library
Maintainer: Support
Author: Apple
Version: 1.123.7
